<li>
	<p><%= comment.content %></p>
		<sub><%= comment.user.email %></sub>
	
	<% if user_signed_in? && comment.user_id ==  current_user.id %>
		<p><span id="cmt-delete-btn"><%= link_to "Delete", destroy_comment_path(comment.id), method: :delete %></span></p>
		<% end %>

</li>
