// Place all the styles related to the users_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pro {
	    color: #446caf;
	        font-size: x-large;

}

.horizontal{
	    height: 1px;
    width: 1250px;
    background: #dfaa30;
}
#abc{
	
	    FONT-FAMILY: cursive;
    color: black;
}
.hori{
	    height: 1px;
    width: 1250px;
    background: #dfaa30;
        margin-bottom: 40px;
    margin-top: 40px;
}

#card{
	    color: #446caf;
    font-size: x-large;
}

